/* Start Global */
:root{
    --main-color: #f87b8d;
}
* {
    box-sizing: border-box;
}
body{
    font-family: 'Balsamiq Sans', cursive;
}

.container{
    margin: 30px 150px;

}
/* Start Settings Box */
.set-box{
    position: fixed;
    left: -200px;
    top: 0;
    background-color: #ffc7ecde;
    width: 200px;
    z-index: 10000;
    min-height: 100vh;
    transition: .3s;
}
.set-box.open{
    left: 0;
}
.set-box .set-icon{
    position: absolute;
    right: -30px;
    top: 100px;
    background-color: #ffc7ecde;
    text-align: center;
    cursor: pointer;

}
.set-box .set-icon .fa-cog{
    padding: 8px 0;
    width: 30px;
}
.set-box .set-container .option-box{
    padding: 10px;
    text-align: center;
    background-color: #eee;
    margin: 10px;
    border-radius: 5px;

}
.set-box .set-container .option-box h4{
    margin: 0;
    color: var(--main-color);
    font-size: 14px;
}
.set-box .set-container .option-box .colors-list{
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 10px 0 0;
}
.set-box .set-container .option-box .colors-list li{ 
    width: 20px;
    height: 20px;
    background-color: #582c32;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    border: 3px solid #eee;
}
.set-box .set-container .option-box .colors-list li.active{ 
    border-color: #fff;
}
.set-box .set-container .option-box .colors-list li:first-child{ 
    background-color:  #f87b8d;
}
.set-box .set-container .option-box .colors-list li:nth-child(2) { 
    background-color:  #ff193a;
}
.set-box .set-container .option-box .colors-list li:nth-child(3) { 
    background-color:  #e121b8;
}
.set-box .set-container .option-box .colors-list li:nth-child(4) { 
    background-color:  #e14d21;
}
.set-box .set-container .option-box .colors-list li:nth-child(5) { 
    background-color:  #5c18c8;
}

.set-box .random-background .yes,
.set-box .random-background .no{
    width: 50px;
    background-color: #582c32;
    color: #fff;
    margin-top: 10px;
    display: inline-block;
    font-size: 12px;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 5px;
    opacity: .5;
    cursor: pointer;
}
.set-box .random-background span.active{
    opacity: 1;
}

/* End Settings Box */

/* Start Navbar Bullets */

.nav-bullets{
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    z-index: 1000;

}

.nav-bullets .bullet{
    width: 20px;
    height: 20px;
    background-color: var(--main-color);
    border: 3px solid #582c32;
    margin: 20px auto;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    
}

.nav-bullets .bullet:hover .tooltip{
    display: block;
}

.nav-bullets .bullet .tooltip{
    background-color: var(--main-color);
    border: 1px solid #582c32;
    width: 100px;
    color: #fff;
    padding: 8px 10px;
    position: absolute;
    right: 32px;
    top: -10px;
    text-align: center;
    display: none;
    cursor: default;
    pointer-events: none;
    font-size: 14px;
}

.nav-bullets .bullet .tooltip:before{
    content: '';
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent transparent  #582c32;
    height: 0;
    width: 0;
    position: absolute;
    right: -20px;
    top: 16px;
    transform: translateY(-50%);
}
/* End Navbar Bullets */

/* Start Landing Page */
.landing-page{
    min-height: 100vh;
    background-image: url('../image/12.jpg');
    background-size: cover;
    position: relative;
}
.landing-page .overlay{
    background-color: #00000066;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}
.header-area{
    position: relative;
    z-index: 2;
    color: #fff;
    display: flex;
    padding: 0 50px;

}
.header-area .logo{
    width: 20%;
}
.header-area .logo img{
    width: 7em;
}
.header-area .links{
    list-style: none;
    text-align: right;
    width: 100%;
    padding: 1.5em 1.2em 0 0;

}
.header-area .links li{
    display: inline;
    margin-left: 30px;
    font-weight: bold;
}
.header-area .links li a{
    color: #fff;
    text-decoration: none;
    transition: .3s;
}
.header-area .links li a:hover,
.header-area .links li a.active{
    color: var(--main-color);
}
.intro-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #fff;
    text-align: center;
    width: 50%;
}
.intro-text h1{
    font-size: 2.5em;
    margin: 0 0 0.5em;
}
.intro-text h1 span{
    color: var(--main-color);
    font-size: 1.5em;
}
.intro-text p{
    line-height: 1.6;
    margin: 0;
    font-size: 1.1em;

}
/* End Landing Page */
/* Start About Us */
.about-us{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    
}

.about-us .info-box{
    flex: 1;
    padding: 30px;
}

.about-us .info-box h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 10px;
}

.about-us .info-box p{
    line-height: 1.8;
    color: ;
    margin: 0;
}

.about-us .image-box{
    flex: 1;
    text-align: center;
}

.about-us .image-box img{
    width: 50%;
}
/* End About Us */
/* Start Our Skills  */

.skills{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--main-color);
}

.skills h2{
    font-weight: bold;
    font-size: 30px;
    margin: 0 0 20px;
    text-align: center;
    color: #fff;
}
.skills p{
    margin: 0;
    text-align: center;
    color: #fff;
}

.skills .skills-img{
    padding: 15px;
    margin-bottom: 15px;

}

.skills .skills-img img{
    width: 38%;
    float: left;
    padding: 30px 0 30px 60px;
}

.skills .skill-box{
    background-color: #fff;
    display: flex;
    padding: 8px;
    margin-bottom: 8px;
    width: 50%;
    float: right;
    border-radius: 6px;
}

.skills .skill-box .skill-name{
    font-weight: bold;
    width: 200px;
    text-align: center;
    line-height: 30px;
}

.skills .skill-box .skill-prog{
    height: 30px;
    width: 100%;
    background-color: #f6f6f6;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}

.skills .skill-box .skill-prog span{
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--main-color);
    transition: all .5s;
}
/* End Our Skills  */
/* Start Our Gallery  */

.gallery{
    padding-top: 50px;
    padding-bottom: 50px;
}

.gallery h2{
    font-weight: bold;
    font-size: 30px;
    margin: 0 0 20px;
    text-align: center;
    color: var(--main-color);
}
.gallery p{
    margin: 0;
    text-align: center;
    padding-bottom: 50px;
    color: var(--main-color);
}

.gallery .images-box{
    text-align: center;

}

.gallery .images-box img{
    width: 200px;
    padding: 3px;
    background-color: #F6F6F6;
    border: 1px solid #ccc;
    margin: 5px;
    cursor: pointer;
}

.popup-overlay{
    position: fixed;
    background-color: rgb(0, 0, 0, .7);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.popup-box {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1001;

}

.popup-box h3{
    font-weight: bold;
    margin: 0 0 20px;
    text-align: center;
    color: var(--main-color);
}

.popup-box img{
    max-width: 100%;
}

.close-button{
    position: absolute;
    top: -50px;
    right: -50px;
    background-color: var(--main-color);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50%;
}
/* End Our Gallery  */

/* Start TimeLine */

.timeline{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #eee;
}
.timeline .timeline-content{
    position: relative;
    overflow: hidden;

}

.timeline .timeline-content:before{
    content: '';
    width: 2px;
    height: 1200px;
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    margin-left: -1px;
    top: 0;
}

.timeline .timeline-content .year{
    margin: 20px auto;
    width: 50px;
    background-color: var(--main-color);
    position: relative;
    z-index: 2;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    padding: 2px 5px;
    font-weight: bold;

}
.timeline .timeline-content .left:before{
    right: -35px;
}

.timeline .timeline-content .right:before{

    left: -35px;

}
.timeline .timeline-content .left,
.timeline .timeline-content .right{
    width: calc(50% - 25px);
    margin-bottom: 40px;
    position: relative;
}

.timeline .timeline-content .left:before,
.timeline .timeline-content .right:before{
    content: '';
    width: 14px;
    height: 14px;
    background-color: #fff;
    border: 3px solid var(--main-color);
    position: absolute;
    border-radius: 50%;
    top: 20px;
}
.timeline .timeline-content .left{
    float: left;
}

.timeline .timeline-content .right{
    float: right;
}

.timeline .timeline-content .content{
    padding: 20px;
    background-color: var(--main-color);
    border-radius: 4px;

}
.timeline .timeline-content .content h3{
    font-weight: bold;
    color: #fff;
    margin: 0 0 10px;

}
.timeline .timeline-content .content p {
    color: #f6f6f6;
    margin: 0;
    line-height: 1.6;
    font-style: italic;
}
.timeline .timeline-content .left .content:before{
    content: '';
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent transparent var(--main-color);
    height: 0;
    width: 0;
    position: absolute;
    right: -20px;
    top: 20px;
}
.timeline .timeline-content .right .content:before{
    content: '';
    border-style: solid;
    border-width: 10px;
    border-color: transparent var(--main-color) transparent transparent ;
    height: 0;
    width: 0;
    position: absolute;
    left: -20px;
    top: 20px;
}
/* End TimeLine */

/* Start Our Features */ 
.features{
    padding-top: 80px;
    padding-bottom: 80px;
}

.features h2{
    color: var(--main-color);
    font-weight: bold;
    font-size: 30px;
    margin: 0 0 60px;
    text-align: center;
}

.features p{
    margin: 0;
    text-align: center;
    padding-bottom: 50px;
}

.features .feat-box{
    width: calc(100% / 3);
    float: left;
    text-align: center;
    margin-bottom: 40px;
}

.features .feat-box img{
    width: 96px;
}

.features .feat-box h4{
    font-size: 22px;
    margin: 15px 0 40px;
    position: relative;
}

.features .feat-box h4:before{
    content: '';
    width: 40px;
    height: 4px;
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    margin-left: -20px;
    bottom: -22px;
}

.features .feat-box p{
    width: 80%;
    margin: 0 auto;
    line-height: 1.7;
    color: #a5a5a5;
}

/* end Our Features */
/* Start Testimonils */

.testimo{
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    overflow: hidden;
}

.testimo:before{
    content: '';
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--main-color);
    height: 100%;
}

.testimo:after{
    content: '';
    content: '';
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #eee;
    height: 100%;
}

.testimo h2{
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    margin: 0 0 30px;
    text-align: left;
    position: relative;
    z-index: 2;
}
.testimo .testimo-box{
    position: relative;
    z-index: 2;
    width: 32.6%;
    float: left;
    background-color: #fff;
    padding: 20px;

}

.testimo .testimo-box:not(:last-of-type) {
    margin-right: 1%;
}
.testimo .testimo-box > p{
    margin: 0 0 20px;
    line-height: 1.5;
    font-size: 18px;
    color: #a5a5a5;
    font-style: italic;
}
.testimo .testimo-box .person-info{
    overflow: hidden;
}
.testimo .testimo-box .person-info img{
    float: left;
    margin-right: 10px;
    width: 90px;
}
.testimo .testimo-box .person-info h4 {
    margin: 14px 0 10px;
}
.testimo .testimo-box .person-info p{
    color: #a5a5a5;
    margin: 0;
}
/* end Testimonils */
.clearfix{
    clear: both;
}

